{% extends 'DRF/base.html' %}
{% block content %}

<form class="col" method="POST" action="">
    {% csrf_token %}
    <div class="container justify-content-center">
        <table class="table table-dark table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">album </th>
                    <th scope="col" class="text-center">name</th>
                    <th scope="col" class="text-center">artist@name</th>
                    <th scope="col" class="text-center">tracks</th>
                </tr>
                <tbody>
                    {% for data in serializer_data %}
                        <tr>
                            <td class="text-center">{{ data.album }}</td>
                            <td class="text-center">{{ data.name }}</td>
                            <td class="text-center">{{ data.artist }}</td>
                            <td class="text-center">
                                {% for dat in data.tracks %}
                                   {{ dat }} <br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>

</form>

{% endblock %}