{% extends 'DRF/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h3>Новый Трек</h3>
        <form method="POST">
           {% csrf_token %}
            <div class="form-group">
                <label for="name">Название Трека</label>
                <input type="text" name="name"
                   class="form-control" id="name" required>
            </div>
            </br>
            {% if CurrentAlbums %}
                <label for="album">Альбом</label>
                    <select class="form-control form-control-sm" name="album" id="album">
                        {% for CurrentAlbum in CurrentAlbums %}
                            <option>{{ CurrentAlbum.name }}</option>
                        {% endfor %}
                    </select>
            {% endif %}


            </br>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            </br>
            </br>
            <p class="text-center fs-5 text-success"> {{ message }} </p>
        </form>
    </div>

</div>
{% endblock %}